<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSHS-00-F-CID-20-Ver02-Rev1 Laboratory Request and Equipment Accountability Form</title>
    <style>
        * {
            outline: solid green 2px;
        }
        html, body {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: "Calibri";
            font-size: 11px;
            /*A4 sizing*/
            height: 297mm; 
            width: 210mm;
        }
    </style>
</head>
<body>
    <!--Maybe format it through table and cells?-->
</body>
</html>